<br><br><br><br><br><br>

<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
<div class="container">

<h2>My Meds</h2>

        <h3><%= User.find(session[:user_id]).medicines.count %></h3>
        <ul>
        <% User.find(session[:user_id]).medicines.each do |medicine|%>
        <li>
       <h4> <%= medicine.name%> | every <%= medicine.interval %> minutes <a href="/medicines/<%=medicine.id%>/edit">edit</a> </h4>
        </li>
        <%end%>
        </ul>