<h2>Delete account</h2>

<form action="/delete/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit" value="submit">Delete account</button>
  </form> 