
<br><br><br><br><br>
<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
<div class="container">


<h2>Users</h2>

<% @users.each do |user| %>
<ul><li>
  <p><a href="/users/<%=user.id%>"> <%= user.name.capitalize %> </a></p>
  </li></ul>
<%end%>