<br><br><br><br><br>
<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
<div class="container">


<h2>About Medly</h2>
<br><br>
<center>
<font size="4"> Sign up ✓   Add Your Meds  ✓   Receive Text Reminders  ✓  Never Forget Again!  </font>
</center>
<br><br>