<div class="container">
  
  <div class="col-md-8 col-md-offset-2">


  <div class="jumbotron">
  
  <h2>Welcome to MedLy</h2>
  <p> never forget to take your meds again </p>

  <%if session[:user_id]%>
  <p>Welcome Back, <%=User.find(session[:user_id]).name%></p>
  
  <%else%>
  
  <a href="/users/new" class="btn btn-primary">Sign up</a>
  <button class="btn btn-secondary">Log in</button>
  
  <%end%>

  
  </div>
    

  </div>
</div>
