<div class="container">
  
  <div class="col-md-8 col-md-offset-2">


  <div class="jumbotron">
  
  <h2>Welcome to MedLy</h2>
  <p> never forget to take your meds again </p>

  <button class="btn btn-primary">Sign up</button>
  <button class="btn btn-secondary">Log in</button>
  
  </div>
    

  </div>
</div>
