<div class="container">
  
  <div class="col-md-8 col-md-offset-2">


  <div class="jumbotron">
  
  <h2>Welcome to MedLy</h2>
  <p> Never forget to take your meds again! </p>

  <%if session[:user_id]%>
  <p>Welcome Back, <%=User.find(session[:user_id]).name%></p>
  <a href="/logout" class="btn btn-warning">Log out</a>
  <%else%>
  
  <a href="/users/new" class="btn btn-primary">Sign up</a>
 <a href="/login" class="btn btn-secondary">Sign in</a>
  
  <%end%>

  
  </div>
    

  </div>
</div>
